.photo-video {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.photo-video__title{
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__description{
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
