.video {
  margin: 0 auto;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__description {
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
