.advantages {
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 0;
  padding-bottom: 0;


}

.advantages__wrapper {
  text-align: left;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  position: relative;
  font-size: 18px;
  padding: 0 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;
    top: -10px;
    left: -48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
    padding-top: 0;
    justify-content: center;
  }

  .advantages__list {
    text-align: center;
    list-style: none;
    padding: 0 45px;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &--house {
      order: 1;
    }

    &--souvenir {
      order: 3;
    }

    &--food {
      order: 2;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .advantages__title {
    font-size: 21px;
    margin-bottom: 20px;

    &::before {
      width: 75px;
      height: 72px;

      top: -100px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &--souvenir::before {
      top: -103px;
      left: -3px;
    }
  }

  .advantages__text {
    margin-bottom: 60px;
    padding: 5px 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
  }

  .advantages__text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 5px -1px;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__item {
    width: 400px;
  }

  .advantages__wrapper {
    padding-top: 80px;
    text-align: center;
  }
}
