.advantages {
  text-transform: uppercase;
  padding-left: 0;
  padding-bottom: 20px;
}

.advantages__wrapper {
  text-align: left;
  padding: 24px 20px 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;
    top: -10px;
    left: -48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding-left: 45px;
  padding-top: 8px;
  background-position: top -1px left -1px;
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-size: 40px 40px;
}

.house {
  background-image: url("../img/house1.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../img/souvenirs1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../img/food1.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 0;
    justify-content: center;
    margin: 0 auto;
    width: 768px;
  }


  .advantages__wrapper {
    text-align: center;
    padding: 0;
    padding-top: 56px;
  }

  .advantages__list {
    text-align: center;
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  .advantages__title {
    font-size: 21px;
    margin-bottom: 24px;
    padding-top: 88px;
  }

  .advantages__text {
    padding: 0 44px;
    margin-bottom: 16px;
  }

  .advantages__item {
    background-size: 80px 80px;
    padding-left: 0;
    width: 400px;
  }

  .souvenirs {
    background-position: top 5px left 91px;
  }

  .house {
    background-position: top -1px left 86px;
  }

  .food {
    background-position: top -1px left 86px;
  }

  .advantages__title__food {
    padding-top: 91px;
  }

  .advantages__title__house {
    padding-top: 93px;
  }

  .advantages__text__food {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
    margin: 0 auto;
  }

  .advantages__text {
    margin-bottom: 24px;
    padding: 0;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__item {
    width: 400px;
  }

  .advantages__wrapper {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .souvenirs {
    background-position: top 9px left 101px;
  }

  .house {
    padding-top: 15px;
    background-position: top 7px left 101px;
  }

  .food {
    background-position: top 10px left 99px;
  }

  .advantages__title__food {
    padding-top: 103px;
  }

  .advantages__title__house {
    padding-top: 98px;
  }
  .advantages__title__souvenirs {
    padding-top: 107px;
  }
}
