.button {
  display: block;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #82b3d3;
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
