@import "../viewports";

.feedback {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 648px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 960px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
  }
}
