@import "../viewports";

.feedback-header {
  padding: 39px 20px 29px 20px;
  text-align: center;
}

.feedback-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.feedback-header__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .feedback-header {
    padding: 0;
    padding-top: 66px;
    padding-bottom: 101px;
  }

  .feedback-header__title {
    font-size: 30px;
    margin-bottom: 24px;
  }

  .feedback-header__description {
    margin: 0;
    padding: 0;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 1200px;
    box-sizing: border-box;
  }

  .feedback-header {
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
    padding-top: 115px;
    padding-bottom: 102px;
  }

  .feedback-header__description {
    margin-bottom: -38px;
    line-height: 22px;
  }

  .feedback-header__title {
    margin-bottom: 31px;
  }
}
