.form-welcome__image {
  text-align: center;
  background-color: #d3edfb;
  background-image: url("../img/group-mobile.svg"), url("../img/back-desktop-form.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, left bottom;
  height: 158px;
}

.form-welcome__wrapper {
  text-align: center;
  padding-top: 52px;
}

.form-welcome__text-image {
  margin: auto;
}

@media (max-width: $mobile-width-only) {
  .form-welcome__image {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .form-welcome__image {
    text-align: center;
    background-color: #d3edfb;
    background-image: url("../img/group-6-tablet.svg"), url("../img/photo-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    height: 290px;
    position: relative;
    background-size: contain, cover;;
    background-position: left bottom, left bottom;
  }


  .form-welcome__wrapper--inner {
    padding-top: 94px;
  }

  .form-welcome__text-image {
    width: 460px;
  }

  .form__text-image__tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form-welcome__image {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #d3edfb;
    background-image: url("../img/group-6-descktop.svg"), url("../img/photo-back-desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left bottom;
    background-size: contain, cover;
    height: 300px;
    position: relative;
  }

  .form-welcome__text-image {
    width: 460px;
  }

  .form-welcome__wrapper--inner {
    padding-top: 102px;
  }
}
