.likes__count {
  font-weight: bold;
}

.likes {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.likes__like-button {
  padding: 0;
  background: none;
  border: transparent;
  cursor: pointer;
  background-image: url("../img/like-icon.svg");
  background-position: top -1px left -1px;
  width: 23px;
  height: 21px;
  background-repeat: no-repeat, no-repeat;
  margin-top: -7px;

}

.gallery-image__likes {

}

.likes__icon-like {


}

@media (min-width: $tablet-width) {
  .likes {
    margin-bottom: 0;
    gap: 9px;
  }

  .likes__like-button {
    background-position: top 0 left 0;
  }

}

@media (min-width: $desktop-width) {
  .likes__count {
    padding-right: 20px;
  }


  .likes__like-button {
    padding: 0;
    background: none;
    border: transparent;
    cursor: pointer;
    background-image: url("../img/like-icon-desktop.svg");
    background-position: top -1px left -1px;
    width: 23px;
    height: 21px;
    background-repeat: no-repeat, no-repeat;
    margin-top: -7px;

  }

  .likes {
    margin-bottom: 1px;
  }

}
