.main-nav {
  min-height: 56px;
  top: 0;
  right: 0;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 61px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #81b3d2;
  }

  @media (min-width: $tablet-width) {
    display: none;
    color: $black;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    text-align: center;
  }

  .main-nav--closed .menu-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #81b3d2;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }

  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #81b3d2;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
  z-index: 100;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 18px;
    width: 29px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
