.map {
  position: relative;
  //height: 350px;
  overflow: hidden;
  margin: 0 auto;
  width: 320px;
}

.map-marker {
  overflow: visible;
  background-image: url("../img/map-marker.svg");
}

.map-dot {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%);
}

@media (min-width: $tablet-width) {
  .map,
  .map__picture {
    width: 768px;
  }

  .map-dot {
    top: 46%;
  }
}
@media (min-width: $desktop-width) {
  .map,
  .map__picture {
    width: 1200px;
  }
}
