.photo-video {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
}

.photo-video__title {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-video {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 42px;
    padding-bottom: 67px;
  }

  .photo-video__title {
    font-size: 30px;
  }

  .photo-video__title {
    margin-bottom: 31px;
  }

  .photo-video__description {
  }
}

@media (min-width: $desktop-width) {
  .photo-video {
    padding-left: 133px;
    padding-right: 120px;
    margin-bottom: 9px;
    padding-top: 100px;
  }

  .photo-video__title {
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
  }
}
