@media (min-width: $desktop-width) {
  .shadows {
    position: relative;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15px;
      width: 15px;
      height: 100%;
      box-shadow: -15px 0 10px -19px inset;
    }

    &::after {
      content: "";
      position: absolute;
      right: -15px;
      top: 0;
      width: 15px;
      height: 100%;
      box-shadow: 15px 0 10px -19px inset;
    }
  }
}
