.welcome-block {
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 0;
  text-align: center;
}

.welcome__slogan {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.welcome__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: $tablet-width) {
  .welcome-block {
    width: 490px;
    margin: 0 auto;
    text-align: center;
    padding: 48px 0 56px;
  }

  .welcome__slogan {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
  }

  .welcome__text {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .welcome-block {
    padding: 59px 0 56px;
  }

  .welcome__slogan {
    margin-bottom: 29px;
  }

  .welcome__text {
    margin-bottom: -11px;
  }
}
