img {
  max-width: 100%;
  height: auto;
}

.welcome-block__image{
  text-align: center;
  background-color: #d3edfb;
  background-image: url("./source/img/back-desktop.jpg.jpg");
  height: 390px;
  position: relative;

}

.promo__text-image{
  height: 390px;
}

