.feedback-header {
  padding: 40px 0 30px 40px;
  text-align: center;
}
.feedback-header__title {
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-header__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
