body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: $basic-font-family;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

input {
  border: 0;
}

.br__mobile {
  display: block;
}

.br__tablet {
  display: none;
}

.br__desktop {
  display: none;
}

@media (max-width: $mobile-width-only) {
  main {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media (min-width: $tablet-width) {
  .br__mobile {
    display: none;
  }
  .br__desktop {
    display: none;
  }
  .br__tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .br__mobile {
    display: none;
  }

  .br__tablet {
    display: none;
  }

  .br__desktop {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
}
