@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

input {
  border: 0;
}

.br__mobile {
  display: block;
}

.br__tablet {
  display: none;
}

.br__desktop {
  display: none;
}

@media (min-width: 768px) {
  .br__mobile {
    display: none;
  }
  .br__tablet {
    display: block;
  }
  .br__desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .br__mobile {
    display: none;
  }
  .br__tablet {
    display: none;
  }
  .br__desktop {
    display: block;
  }
}
.visually-hidden {
  display: none;
}

.button {
  display: block;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #82b3d3;
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.main-container {
  display: block;
}

@media (min-width: 768px) {
  .main-container {
    margin: 0 auto;
  }
}
.map {
  position: relative;
  height: 350px;
  overflow: hidden;
  background-color: #f4f3f0;
}

.mao__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate -50%, -50%;
}

@media (min-width: 768px) {
  .map,
  .map__picture {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .map,
  .map__picture {
    width: 1200px;
  }
}
img {
  height: auto;
}

.welcome-block__image {
  text-align: center;
  background-color: #d3edfb;
  background-image: url("../img/group-mobile.svg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  height: 389px;
}

.welcome-block--inner {
  background-size: cover;
  background-position: bottom center, center bottom;
}

.welcome-block__wrapper {
  text-align: center;
  padding-top: 90px;
}

.promo__text-image {
  display: none;
  margin: auto;
}

@media (max-width: 767px) {
  .promo__text-image__mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .welcome-block__image {
    text-align: center;
    background-color: #d3edfb;
    background-image: url("../img/group-6-tablet.svg"), url("../img/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom -1px center, center top;
    height: 390px;
    position: relative;
    background-size: 100%;
  }
  .welcome-block--inner {
    height: 518px;
  }
  .welcome-block__wrapper--inner {
    padding-top: 77px;
  }
  .welcome-block__text-image {
    width: 460px;
  }
  .promo__text-image__tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .welcome-block__image {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #d3edfb;
    background-image: url("../img/group-6-descktop.svg"), url("../img/back-desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center top;
    height: 518px;
    position: relative;
  }
  .promo__text-image {
    width: 460px;
  }
}
.site-list {
  font-weight: bold;
}

.site-list a {
  position: relative;
  display: block;
  padding: 18px 0 17px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #c1d8e8;
  border-bottom: 1px solid #557387;
}
@media (min-width: 768px) {
  .site-list a {
    border: none;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .site-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    margin-right: 33px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}

.main-header {
  background-color: #ffffff;
  margin: 0 auto;
}

.page-header__open-nav-button {
  position: relative;
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.page-header__open-nav-button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 23px;
  height: 4px;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
  .main-header__logo {
    top: 0;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
}
.main-nav {
  min-height: 56px;
  top: 0;
  right: 0;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 61px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover, .main-nav__toggle:active {
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
    color: #000000;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    text-align: center;
  }
  .main-nav--closed .menu-nav__list {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #81b3d2;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #81b3d2;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
  z-index: 100;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.menu-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
}

@media (min-width: 768px) {
  .menu-nav__list {
    display: flex;
  }
  .menu-list__item {
    font-size: 14px;
    line-height: 26px;
  }
  .menu__item--space {
    flex-grow: 1;
  }
  .menu-list__link {
    border: none;
    width: 153px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
  }
  .menu-list__link:not([href]) {
    color: #766357;
  }
}
@media (min-width: 1200px) {
  .menu-list__link {
    width: 240px;
  }
}
.page-footer {
  text-transform: uppercase;
  color: #000000;
  padding: 38px 20px 25px 20px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  margin-bottom: 41px;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 128px;
  height: 34px;
}

.social__list {
  width: 155px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.vk {
  display: block;
  background-image: url("../img/vk1.svg");
  background-repeat: no-repeat;
}

.telegram {
  background-image: url("../img/telegtam.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../img/yb.svg");
  background-repeat: no-repeat;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.copyright__text {
  text-transform: uppercase;
}

.page-footer__hashtag {
  text-align: center;
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  margin-bottom: 33px;
  color: #000000;
  padding-top: 0;
}

.copyright__link {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    padding: 36px 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .page-footer__hashtag {
    margin: 0;
  }
  .page-footer__social {
    margin: 0;
    margin-left: 112px;
  }
  .copyright {
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
    padding: 38px 120px;
  }
  .page-footer__social {
    margin: 0;
    margin-left: 268px;
  }
}
.characteristics {
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  display: block;
}

.characteristics__image-1 {
  background-image: url("../img/group-4-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top;
}

.characteristics__wrapper {
  padding: 57px 0 0;
}

.characteristics__wrapper-1 {
  padding-top: 34px;
}

.characteristics__image-1 {
  padding-top: 23px;
}

.characteristics__blu-block {
  text-align: center;
  border-color: #81b3d2;
  flex-wrap: wrap;
}

.characteristics__title {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 50px;
}

.characteristics__title-1 {
  padding-top: 2px;
}

.characteristics__text {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.characteristics__text-1 {
  margin-bottom: 37px;
}

.characteristics__wrapper-2 {
  padding-top: 21px;
}

.characteristics__item {
  text-align: center;
  padding: 16px;
}

.characteristics__description {
  padding: 0 9px;
}

.characteristics__number {
  margin-bottom: 17px;
  display: block;
}

.characteristics__image {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .characteristics__image {
    display: flex;
    flex-direction: row;
  }
  .characteristics__image {
    width: 100%;
  }
  .characteristics__wrapper-1 {
    padding-top: 53px;
  }
  .characteristics__number {
    margin-bottom: 23px;
  }
  .characteristics__wrapper {
    width: 256px;
  }
  .characteristics__image-1 {
    padding-top: 0;
  }
  .characteristics {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    display: flex;
  }
  .characteristics__invert {
    flex-direction: row-reverse;
  }
  .characteristics__image-1 {
    background-image: none;
  }
  .characteristics__text {
    margin: 0;
    padding: 0 38px 0 40px;
    margin-bottom: 5px;
  }
  .characteristics__title {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 13px;
    padding: 0 53px;
  }
  .characteristics__wrapper-2 {
    padding-top: 52px;
  }
}
@media (min-width: 1200px) {
  .characteristics__image {
    display: flex;
    flex-direction: row;
  }
  .characteristics {
    width: 1200px;
    margin: 0;
  }
  .characteristics__wrapper {
    padding: 52px 72px;
    width: 256px;
  }
  .characteristics__picture-wrapper {
    width: 800px;
    overflow: hidden;
  }
  .welcome__slogan {
    padding-top: 12px;
    font-size: 21px;
  }
  .characteristics__text {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin: -3px;
  }
  .characteristics__number {
    margin-bottom: 26px;
  }
}
.advantages {
  text-transform: uppercase;
  padding-left: 0;
  padding-bottom: 20px;
}

.advantages__wrapper {
  text-align: left;
  padding: 24px 20px 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}
.advantages__title::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -10px;
  left: -48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding-left: 45px;
  padding-top: 8px;
  background-position: top -1px left -1px;
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-size: 40px 40px;
}

.br__mobile {
  display: block;
}

.br__tablet {
  display: none;
}

.br__desktop {
  display: none;
}

.house {
  background-image: url("../img/house1.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../img/souvenirs1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../img/food1.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 0;
    justify-content: center;
  }
  .br__mobile {
    display: none;
  }
  .br__tablet {
    display: block;
  }
  .br__desktop {
    display: none;
  }
  .advantages__wrapper {
    text-align: center;
    padding: 0;
    padding-top: 56px;
  }
  .advantages__list {
    text-align: center;
    list-style: none;
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  .advantages__title {
    font-size: 21px;
    margin-bottom: 24px;
    padding-top: 88px;
  }
  .advantages__text {
    padding: 0 44px;
    margin-bottom: 16px;
  }
  .advantages__item {
    background-size: 80px 80px;
    padding-left: 0;
    width: 400px;
  }
  .souvenirs {
    background-position: top 5px left 91px;
  }
  .house {
    background-position: top -1px left 86px;
  }
  .food {
    background-position: top -1px left 86px;
  }
  .advantages__title__food {
    padding-top: 91px;
  }
  .advantages__title__house {
    padding-top: 93px;
  }
  .advantages__text__food {
    padding-top: 0px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
  }
  .advantages__text {
    margin-bottom: 24px;
    padding: 0;
  }
  .advantages__list {
    padding: 0;
  }
  .advantages__item {
    width: 400px;
  }
  .advantages__wrapper {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .br__mobile {
    display: none;
  }
  .br__tablet {
    display: none;
  }
  .br__desktop {
    display: block;
  }
  .souvenirs {
    background-position: top 9px left 101px;
  }
  .house {
    padding-top: 15px;
    background-position: top 7px left 101px;
  }
  .food {
    background-position: top 10px left 99px;
  }
  .advantages__title__food {
    padding-top: 101px;
  }
  .advantages__title__house {
    padding-top: 98px;
  }
  .advantages__title__souvenirs {
    padding-top: 105px;
  }
}
.welcome-block {
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 0;
  text-align: center;
}

.welcome__slogan {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.welcome__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .welcome-block {
    width: 490px;
    margin: 0 auto;
    text-align: center;
    padding: 48px 0 56px;
  }
  .welcome__slogan {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
  }
  .welcome__text {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .welcome-block {
    padding: 59px 0 56px;
  }
  .welcome__slogan {
    margin-bottom: 29px;
  }
  .welcome__text {
    margin-bottom: -11px;
  }
}
.characteristics-block3 {
  text-transform: uppercase;
  background-color: #eeeeee;
}

.characteristics__list__block {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  padding: 24px 18px 5px;
}

.characteristics__description__block {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.characteristics__item__block {
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d6d6d6;
}

.characteristics__item__block:last-child {
  border-bottom: none;
}

.characteristics__item__block:nth-child(2) {
  margin-top: 25px;
}

.characteristics__item__block:nth-child(3) {
  margin-top: 25px;
}

.characteristics__title__block {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .characteristics__list__block {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .characteristics__title__block {
    margin-bottom: 13px;
  }
  .characteristics__item__block {
    padding: 0;
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .characteristics__item__block:nth-child(2) {
    margin-top: 0;
  }
  .characteristics__item__block:nth-child(3) {
    margin-top: 0;
  }
  .characteristics__description__block {
    margin: 0;
    margin-bottom: 2px;
  }
}
@media (min-width: 1200px) {
  .characteristics__list__block {
    display: flex;
    flex-direction: row;
  }
  .characteristics__item__block {
    width: 400px;
  }
  .characteristics__description__block {
    margin: 0;
    margin-bottom: -23px;
  }
}
.search-hotel {
  text-transform: uppercase;
  text-align: center;
  padding: 38px 18px;
  margin-bottom: 11px;
}

.search-hotel__title {
  line-height: 26px;
  size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.search-hotel__description {
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

@media (min-width: 768px) {
  .search-hotel__button {
    min-width: 458px;
    margin-bottom: -7px;
  }
  .search-hotel {
    padding: 55px 155px;
  }
  .search-hotel__title {
    line-height: 26px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 33px;
    padding-top: 4px;
  }
  .search-hotel__description {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
  .search-hotel__description {
    margin-bottom: 45px;
  }
  .search-hotel__button {
    min-width: 458px;
    margin-left: 216px;
    margin-right: 216px;
    margin-bottom: 0;
  }
}
.feedback {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feedback {
    width: 648px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .feedback {
    width: 960px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
  }
}
.feedback__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.form__container {
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  order: 2;
  width: 324px;
  padding-left: 54px;
}

.form__fieldset {
  margin-bottom: 70px;
}

.form__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__group {
  align-items: center;
  margin-bottom: 20px;
}

.form__label {
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 15px;
}

.form__input {
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  background-color: #f2f2f2;
}

.form__input--textarea {
  min-height: 160px;
}

.form__selector-indicator {
  position: relative;
  display: block;
  width: 56px;
  margin-right: 22px;
  background-color: #f2f2f2;
}

.form__selectors-wrapper {
  display: flex;
  flex-direction: column;
}

.form__selector-label {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form__selector--radio {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
  border-radius: 50%;
}

.form__selector--checkbox {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;
}

.form__selector-indicator--radio {
  background-color: #f2f2f2;
  color: #333333;
}

.form__selector--radio:checked + .form__selector-indicator:active::before {
  opacity: 0.3;
}

.form__selector--checkbox:checked + .form__selector-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;
}

.form__selector--checkbox:checked + .form__selector-indicator:active::before {
  opacity: 0.3;
}

.form__selector--radio:checked ~ .fakeRadio .fakeRadio_check {
  display: block;
}

.fakeRadio {
  border-radius: 50%;
  background: #f2f2f2;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fakeRadio_check {
  display: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000000;
}

.form__selector-label input {
  display: none;
}

@media (min-width: 768px) {
  .feedback__form {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 55px;
  }
  .form__selector-radio__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .form__container {
    border-top: 0;
    position: relative;
    padding: 0;
    width: 100%;
  }
  .form__input--textarea {
    width: 648px;
  }
  .form__legend {
    margin-bottom: 60px;
    font-size: 21px;
    width: 100%;
    text-align: center;
  }
  .form__legend-fixed-content {
    display: inline-block;
    width: 300px;
  }
  .form__selectors-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .feedback__form__wrapper__inputs {
    display: flex;
  }
  .form__container--button {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form__container--review {
    padding-top: 50px;
  }
  .form__container--sights {
    padding-top: 36px;
  }
}
@media (min-width: 1200px) {
  .feedback__form {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 55px;
  }
  .form__label-hidden {
    display: none;
  }
  .form__group-wrapper {
    justify-content: space-between;
  }
  .form__group {
    align-items: center;
  }
  .form__selectors-wrapper {
    flex-direction: row;
    width: 100%;
  }
  .form__fieldset {
    margin-bottom: 50px;
    display: flex;
  }
  .form__input--textarea {
    width: 768px;
  }
  .feedback__form__wrapper__inputs {
    display: flex;
  }
  .form__container--button {
    padding-top: 55px;
  }
}
.feedback-header {
  padding: 40px 20px 30px 20px;
  text-align: center;
}

.feedback-header__title {
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-header__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .feedback-header {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .feedback-header__title {
    font-size: 30px;
  }
  .feedback-header__description {
    padding: 0 163px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    width: 100%;
    box-sizing: border-box;
  }
  .feedback-header {
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
  }
  .feedback-header__description {
    padding: 0 139px;
  }
}
.gallery {
  margin: 0 auto;
  text-align: center;
}

.gallery__item {
  margin: 0 auto;
  padding-top: 22px;
  list-style: none;
  width: 324px;
  border-top: 1px solid #d6d6d6;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
  }
  .gallery__item {
    margin: 0;
    border: none;
    padding-top: 0;
  }
  .gallery__item__position {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery {
    width: 100%;
  }
  .gallery__item {
    position: relative;
    width: 400px;
  }
  .gallery__item__position {
    width: 100%;
  }
}
.gallery-image {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-image__image {
  display: block;
}

.gallery-image__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.gallery-image__author {
  margin-bottom: 10px;
}

.gallery-image__footer {
  padding: 12px 20px;
  text-align: left;
}

@media (min-width: 768px) {
  .gallery-image {
    padding: 0;
    width: 100%;
  }
  .gallery-image__footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  .gallery-image__author {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .gallery-image__footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .gallery-image__author {
    color: #ffffff;
  }
}
.photo-video {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.photo-video__title {
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .photo-video {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .photo-video__title {
    font-size: 30px;
  }
  .photo-video__description {
    padding: 0 150px;
  }
}
@media (min-width: 1200px) {
  .photo-video {
    padding-left: 120px;
    padding-right: 120px;
  }
  .photo-video__description {
    padding: 0 260px;
  }
}
.video {
  margin: 0 auto;
}

.video__promo {
  padding: 35px 20px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__description {
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.video__image {
  display: block;
}

.video__image-poster {
  width: 320px;
  margin: 0 auto;
  padding-top: 22px;
}

@media (min-width: 768px) {
  .video {
    margin: 0 auto;
  }
  .video__promo {
    padding: 65px 60px;
  }
  .video__title {
    font-size: 30px;
  }
  .video__description {
    padding-left: 110px;
    padding-right: 94px;
  }
  .video__clip {
    position: relative;
    margin: 0 60px;
  }
  .video__image {
    width: 100%;
  }
  .video__image-poster {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .video__promo {
    padding: 70px 200px;
  }
  .video__description {
    padding: 0 177px;
  }
  .video__clip {
    width: 800px;
    margin: 0 auto;
  }
  .video__image-poster {
    width: 800px;
  }
}
.likes__count {
  font-weight: bold;
}

.likes {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */